<footer>
    <ul class="flex-layout">
        <li>
            <a target="_blank" href="https://seanmurphy.dev">seanmurphy.dev</a>
        </li>
        <li>
            <a target="_blank" href="http://github.com/nazarja/snake">view code on github</a>
        </li>
    </ul>
</footer>